.main {
  height: 100vh;
  width: 100%;
  text-align: center;
  background: #000000;
  color: #ffffff;
}

.title {
  font-size: 4rem;
  margin: 0;
  color: #ffffff;
}

.description {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #ffffff;
}

.app_loader {
  margin-top: 40vh;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
}

.global_loader_container {
  position: absolute;
  z-index: 1;
  top: -35px;
  height: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -ms-transition: all 3s ease;
  -o-transition: all 3s ease;
  transition: all 3s ease;
  height: 50px;
  overflow: hidden;
}

.global_loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  left: 50%;
  margin-left: -50px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.global_loader .ring {
  border-radius: 50%;
  position: absolute;
  border-width: 10px;
  border-style: solid;
  top: 50%;
  left: 50%;
}

.global_loader .ring:nth-child(1) {
  border-color: transparent #ff8a50 #ff8a50 transparent;
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  -webkit-animation: loader-ring 3s ease-in -0.3s infinite;
  animation: loader-ring 2s ease-in 3s infinite;
}

.global_loader .ring:nth-child(2) {
  border-color: transparent #ffc930 #ffc930 transparent;
  width: 66px;
  height: 66px;
  margin-left: -33px;
  margin-top: -33px;
  -webkit-animation: loader-ring 2s ease-in -0.1s infinite;
  animation: loader-ring 3s ease-in 0.1s infinite;
}

.global_loader .ring:nth-child(3) {
  border-color: transparent #8cd9d6 #8cd9d6 transparent;
  width: 84px;
  height: 84px;
  margin-left: -42px;
  margin-top: -42px;
  -webkit-animation: loader-ring 3s ease-in -0.3s infinite;
  animation: loader-ring 3s ease-in 0s infinite;
}

@-webkit-keyframes loader-ring {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  30% {
    -webkit-transform: rotate(170deg);
    -ms-transform: rotate(170deg);
    transform: rotate(170deg);
  }

  70% {
    -webkit-transform: rotate(190deg);
    -ms-transform: rotate(190deg);
    transform: rotate(190deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes loader-ring {
  0% {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }

  30% {
    -webkit-transform: rotate(170deg);
    -ms-transform: rotate(170deg);
    transform: rotate(170deg);
  }

  70% {
    -webkit-transform: rotate(190deg);
    -ms-transform: rotate(190deg);
    transform: rotate(190deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.position_rainbow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #000000;
  color: #fff;
  text-align: center;
  z-index: 2;
}

.body {
  margin: 0;
  padding: 0;
  background: #262626;
}

.ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}

.li {
  list-style: none;
  color: #484848;
  font-size: 1.5em;
  /* font-size: 3em; */
  font-family: cursive;
  letter-spacing: 10px;
  animation: letter-glow 0.7s 0s ease both;
}

.ul li:nth-child(1) {
  animation-delay: 0.2s;
}

.ul li:nth-child(2) {
  animation-delay: 0.4s;
}

.ul li:nth-child(3) {
  animation-delay: 0.6s;
}

.ul li:nth-child(4) {
  animation-delay: 0.8s;
}

.ul li:nth-child(5) {
  animation-delay: 1s;
}

.ul li:nth-child(6) {
  animation-delay: 1.2s;
}

.ul li:nth-child(7) {
  animation-delay: 1.4s;
}

.ul li:nth-child(8) {
  animation-delay: 1.6s;
}

.ul li:nth-child(9) {
  animation-delay: 1.8s;
}

.ul li:nth-child(10) {
  animation-delay: 2s;
}

.ul li:nth-child(11) {
  animation-delay: 2.2s;
}


@keyframes letter-glow {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.2);
  }

  66% {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
  }

  77% {
    opacity: 1;
  }

  100% {
    opacity: 0.7;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0);
  }
}




@keyframes animate {
  0% {
    color: #484848;
    text-shadow: none;
    transform: scale(1);

  }

  90% {
    color: #484848;
    text-shadow: none;
    transform: scale(1);

  }

  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
    transform: scale(1.5);

  }
}

@keyframes disappear-backward {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-50px);
  }
}

.disappear {
  animation: disappear-backward 0.5s forwards;
}

.ul li.disappear {
  animation: disappear-backward 0.5s forwards;
}

.ul li.disappear:nth-child(1) {
  animation-delay: 1.5s;
}

.ul li.disappear:nth-child(2) {
  animation-delay: 1.2s;
}

.ul li.disappear:nth-child(3) {
  animation-delay: 0.9s;
}

.ul li.disappear:nth-child(4) {
  animation-delay: 0.6s;
}

.ul li.disappear:nth-child(5) {
  animation-delay: 0.3s;
}

.ul li.disappear:nth-child(6) {
  animation-delay: 0s;
}

.ul li.disappear:nth-child(7) {
  animation-delay: 0.3s;
}

.ul li.disappear:nth-child(8) {
  animation-delay: 0.6s;
}

.ul li.disappear:nth-child(9) {
  animation-delay: 0.9s;
}

.ul li.disappear:nth-child(10) {
  animation-delay: 1.2s;
}

.ul li.disappear:nth-child(11) {
  animation-delay: 1.5s;
}

.signature {
  stroke-dasharray: 2745;
  stroke-dashoffset: 2745;
  animation: sign 8s ease forwards;
}

@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

.signature2 {
  stroke-dasharray: 3778;
  stroke-dashoffset: 3778;
  animation: sign2 8s ease forwards;
}

@keyframes sign2 {
  to {
    stroke-dashoffset: 0;
  }
}

.width_height {
  height: 2rem;
  width: 2rem;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navItem {
  margin-bottom: 10px;
}

.navItem a {
  text-decoration: none;
  color: rgb(77, 74, 74);
  font-size: 1.3rem;
  transition: color 0.3s;
}

.navItem a:hover {
  color: #cccccc; 
}

.brandNameNavigation {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.bottomNav {
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center; 
}

.container {
  text-align: center;
}

.blur_text {
  font-size: 48px;
  filter: blur(3px);
  animation: unblur 3s ease-in-out forwards;
}

@keyframes unblur {
  0% {
      filter: blur(3px);
  }
  100% {
      filter: blur(0);
  }
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.85);
}

.spinner_animation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  
  width: 60px;
  height: 50px;
}

.c, .m, .y {
  position: absolute;
  width: 30px;
  height: 30px;
  opacity: .8;
  border-radius: 50%;
}

.c svg {
  position: absolute;
  height: 13rem;
  width: 7rem;
  fill: #ff6f99;
}

.m svg {
  fill: #ff8a50;
  height: 13rem;
  width: 7rem;
}

.y svg {
  fill: #8cd9d6;
  height: 13rem;
  width: 7rem;
}

.c {
  left: -12rem;
  top: -6rem;
  margin-left: -14px;
  animation: cmypop-c 1s linear;
  -webkit-animation: cmypop-c 1s linear;
}

.m {
  bottom: 6rem;
  right: -5rem;
  animation: cmypop-m 1s linear;
  -webkit-animation: cmypop-m 1s linear;
}

.y {
  bottom: 0;    
  left: 2px;
  animation: cmypop-y 1s linear;
  -webkit-animation: cmypop-y 1s linear;
}

@keyframes cmypop-c {
  0% {
    opacity: 1;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  7% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cmypop-m {
  0%, 7% {
    opacity: 1;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  14% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cmypop-y {
  0%, 14% {
    opacity: 1;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  21% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fixed_bottom {
  position: fixed;
  bottom: 0;
  right: 0;
}

.scrollWrapper {
  height: 100%;
  overflow: hidden;
}

.scrollButtons {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.scrollButton {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}

.scrollButton:hover {
  background-color: #ddd;
}

.element {
  -ms-overflow-style: none; 
  scrollbar-width: none;
  overflow-y: scroll;
}
.element::-webkit-scrollbar {
  display: none;
}
